<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Input
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  Judul :  <input type="text" [(ngModel)]="Judul">
  <br>
  Isi Note :  <input type="text" [(ngModel)]="Isi">
  <br>
  Tanggal :  <input type="date" [(ngModel)]="Tanggal">
  <br>
  Nilai : <input type="text" [(ngModel)]="Nilai">
  <br>
  <ion-button (click)="TambahFoto()">Add Photo</ion-button>
  <ion-button (click)="simpan()">SIMPAN</ion-button>
  <br>
  <ion-button (click)="delete()">DELETE</ion-button>
  <ion-button (click)="Edit()">EDIT</ion-button>
</ion-content>
